* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    display: flex;
    height: 100vh;
    font-size: 12.7rem;
    padding: 3rem;
}

main {
    display: flex;
    gap: 19.2rem;
    align-items: center;
    margin: auto;

}

.displayOne {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timer {
    margin-bottom: 1.7rem;
    display: flex;
}

.controls1 {
    display: flex;
}

.controls1 button {
    background: none;
}

.controls2 {
    display: grid;
    grid-template-areas: 
    "A B"
    "C D";
    gap: 3.2rem;
}

.displayOne button {
    border: none;
}

.displayOne button + button {
    margin-left: 4rem;
}

.controls2 button {
    border: none;
    border-radius: 2.4rem;
    width: 13.8rem;
    height: 15.2rem;
}


